<!-- Includ header -->
<%- include('./include/_header') %> 
<!-- /included header -->

<!-- Main -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify=between ">
            <div class="filteer">
            <a href="/" class="titles">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                All Users
            </a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-light">Use the below form to update a account</span>
        </div>

        <!-- Form handling -->
        <form action="" method="POST" id="update_user">
            <div class="new_user">
                <!-- nom de l'utilisateur -->
                <div class="form-group">
                    <label for="name" class="text-light">Name : </label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" placeholder="ShakoKinyamba@gmail.com">
                </div>
                <!-- adresse mail -->
                <div class="form-group">
                    <label for="name" class="text-light">Adresse Email : </label>
                    <input type="text" name="email" placeholder="ShakoKinyamba@gmail.com">
                </div>
                <!-- Sexe de l'agent -->
                <div class="form-group">
                    <label for="name" class="text-light">Gender : </label>
                    <div class="radio inline">
                        <input type="radio" name="gender" value="Masculin" class="radio">
                        <label for="gender" class="radio-label">Masculin</label>
                    </div>
        
                    <div class="radio inline">
                        <input type="radio" name="gender" value="Feminin" class="radio">
                        <label for="gender" class="radio-label">Feminin</label>
                    </div>
                </div>
        
                <!-- le statut -->
                <div class="form-group">
                    <label for="name" class="text-light">Statut : </label>
                    <div class="radio inline">
                        <input type="radio" name="statut" value="Active" class="radio">
                        <label for="statut" class="radio-label">Active</label>
                    </div>
        
                    <div class="radio inline">
                        <input type="radio" name="statut" value="Inactive" class="radio">
                        <label for="statut" class="radio-label">Inactive</label>
                    </div>
                </div>
                <!-- fin Statut -->
        
                <!-- Submit -->
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Create account</button>
                </div>
            </div>
         </form>
        <!-- /Form handling -->
    </div>
</main>
<!-- /Main -->

<!-- Include footer -->
<%- include('./include/_footer') %> 
<!-- /included footer-->